<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <div class="container">
      <h1>Edit robot details</h1>
      <form class="edit form-group" action="/edit/{{id}}" method="POST">
        <input class="form-control" type="text" name="id" value="{{id}}" placeholder="{{id}}" required>
        <input class="form-control" type="password" name="password" value="{{password}}" placeholder="Password" required>
        <input class="form-control" type="text" name="name" value="{{name}}" placeholder="{{name}}" required>
        <input class="form-control" type="url" name="avatar" value="{{avatar}}" placeholder="{{avatar}}">
        <input class="form-control" type="text" name="university" value="{{university}}" placeholder="{{university}}">
        <input class="form-control" type="text" name="job" value="{{job}}" placeholder="{{job}}">
        <input class="form-control" type="text" name="company" value="{{company}}" placeholder="{{company}}">
        <input class="form-control" type="text" name="skill" value="{{skills}}" placeholder="Skills">
        <input class="form-control" type="text" name="phone" value="{{phone}}" placeholder="Phone">
        <input class="form-control" type="text" name="street_num" value="{{street_num}}" placeholder="Street number">
        <input class="form-control" type="text" name="street_name" value="{{street_name}}" placeholder="Street name">
        <input class="form-control" type="text" name="city" value="{{city}}" placeholder="City">
        <input class="form-control" type="text" name="state_or_province" value="{{state_or_province}}" placeholder="State/Province">
        <input class="form-control" type="text" name="postal_code" value="{{postal_code}}" placeholder="Postal code">
        <input class="form-control" type="text" name="country" value="{{country}}" placeholder="Country">
        <input class="form-control" type="submit" name="submit" value="Submit!">
      </form>
      <p>Just kidding, <a href="/robots">take me back to the collection.</a>
    </div>
  </body>
</html>
