<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <div class="container">
      <h1 class="cover-heading">Let's look at some robots!</h1>
      <p class="lead">We got robots! So many! All come pre-installed with Asimov's Laws and can be customized with pluggable hardware for any job you can think of, and probably some you can't!</p>
      <p class="lead">
        <a href="/robots" class="btn btn-lg btn-default">View the list.</a>
      </p>
    </div>
  </body>
</html>
