<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <div class="container">
      <p>Click <a href="./robots">here</a> to see a list of all our robots, or <a href="./add">here</a> to add a new robot.</p>
    </div>
  </body>
</html>
