<!DOCTYPE html>
<html>
  {{>_head}}
  <body class="login">
    <div class="container">
      <p>Log in below to edit robots.</p>
      <form class="login" action="/login" method="POST">
        <input class="login" type="text" name="username" value="">
        <input class="login" type="password" name="password" value="">
        <input class="login submit" type="submit" name="submit" value="Log in!">
      </form>
    </div>
  </body>
</html>
