<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <p>HEY! No touching. <a href="/login">Log in</a> to edit robot information, or <a href="/robots">go back</a> to the main collection.</p>

  </body>
</html>
