<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <div class="container">
      <h1 class="cover-heading">HEY! No touching!</h1>
      <p class="lead"><a href="/login">Log in</a> to edit robot information.</p>
      <p class="lead">
        <a href="/robots" class="btn btn-lg btn-default">Go back to the main collection.</a>
      </p>
    </div>
  </body>
</html>
